<%- include partials/header.ejs %>
<%- include partials/main-nav.ejs %>

<body>


  <!--Main Content-->
  <Main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %></h1>
    </div>
  </Main>



<%- include partials/bottom-nav.ejs %>
<%- include partials/footer.ejs %>












